<article>
    <h2 class="editTitle"> Edit Post </h2>
    <form class="update-post-form">
        <div class="edit-post-title">
            <input id="edit-post-title" type="text" value="{{post.title}}">
        </div>
        <div class="editInfo">
            Posted by you on {{format_date post.created_at}}
            <br>
            {{post.comments.length}} {{format_plural "comment" post.comments.length}}
        </div>
        <div>
            <label id="postLabel" for="post-text"></label>
            <textarea id="post-text" name="post-text" placeholder="Enter edited post content here">{{post.post_text}}</textarea>
        </div>
        <button class="saveBtn" type="submit">Save all changes</button>
        <button class="saveBtn" type="button" class="delete-post-btn">Delete this post</button>
    </form>
</article>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>